.modal-container {
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Align children to fill the container equally */
  width: 900px; /* Fixed modal width */
  height: 630px; /* Fixed modal height */
  margin: auto; /* Center the modal on the screen */
  font-weight: 100;
}




.modal-content {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden; 
  position: relative; 
}

.modal-container > .character-data > h1 {
  background-image: url("https://static-mh.content.disney.io/starwars/assets/shared/bg_hash@2x-bd5b31294ea9.png");
  color: white;
  text-align: left;
  margin-top: -15px;
}
  
.character-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  background-color: #282727; 

}

  
  
.character-data {
  position: relative;
  width: 50%; 
  height: 100%; 
  overflow-y: auto; 
  background-color: #282727; 
  padding: 20px;
  box-sizing: border-box; 
  color: white;
  text-transform:uppercase ;
  border-left: 4px solid #9e4f60;
}
  
  .character-data > .character-info > h4 {
  text-align: left;
  margin-top: -10px;
  color: #9e4f60;
  font-size: 1.2rem;
  }

  .character-info {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1rem;
  }

  .character-info > ul {
    margin-top: -15px;
  }

  .character-info > ul > li {
   list-style-type: none;
  }

  .character-info > h4, ul {
    flex-basis: 100%;
    text-align: start;

  }


  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    padding: 0.5rem 1rem;
    border: 2px solid #9e4f60;
    background-color: transparent;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 1rem;
  }

  .close-button:hover {
    background-color: #9e4f60;
    color: #282727;
  }

  .character-info-print{
    margin-top: 2rem;
    color: white;
  }

  @media only screen and (max-width: 768px) {
    .character-image {
      display: none;
    }
  
    .modal-content {
      width: 100%;
      height: auto;
      margin:10px auto;
    }
  
    .character-data {
      width: 100%;
      padding: 20px;
      margin-left: 10px;
      margin-right: 10px;
      border-left: none;
      border: 4px solid #9e4f60;

    }
  
    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 10;
    }
  
    .modal-container {
      width: 100%;
      height: 680px; /* Fixed modal height */
    }
  }