.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: calc(100vw - 40px); /* Subtract the desired total horizontal padding */
  padding: 0 20px; /* Add horizontal padding */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15rem; /* Adjust this value to be the header's height plus 10px */
  gap: 10px;
  padding-bottom: 20px;
}

/* Responsive gap for smaller screens, if needed */
@media (max-width: 768px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 22rem;
    gap: 10px;
    padding-bottom: 20px;
}
}
