.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 100vw; /* Adjust this value based on your design */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card-container > div {
  margin: 5px;
}