.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem; /* Spacing between filters */
  margin-top: 1rem; /* Spacing above the filter row */
}

.filter-wrapper {
  flex-basis: calc(33.333% - 1rem); /* Subtract gap from width */
  max-width: calc(33.333% - 1rem); /* Subtract gap from width */
}

.filter-select {
  width: 100%; /* Full width of parent */
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #343434;
  color: #ffffff;
  border: none;
}
.filter-reset-button {
  padding: 0.5rem 1rem;
  border: 2px solid #9e4f60;
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 1rem;
}

.filter-reset-button:hover {
  background-color: #9e4f60;
  color: #282727;
}


@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .filter-wrapper {
    flex-basis: 100%; /* Full width on mobile */
    max-width: 100%; /* Full width on mobile */
  }

  .filter-container {
    flex-direction: column; /* Stack filters vertically on mobile */
  }
  .filter-reset-button {
    margin-left: 0;
    margin-top: 1rem;
  }
}
